.container {
    max-width: 80%;
    padding: 1rem;
    margin: 0 auto 6rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    flex-wrap: wrap;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 25rem;
    z-index: 2;
    padding: 0 !important;
  }

  .headerHomeContainer {
    display: flex;
    flex-direction: row;
  }

  .headerContainer {
    display: flex;
  }

  .headerHomeCredentials {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .headerHomeCredentials > * {
    margin: 0.5rem 0 0 0;
  }

  .headerCredentials {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem 1rem 0;
  }

  .headerCredentials > * {
    margin: 0 0;
  }

  .headerCredentials small {
    font-size: clamp(.2rem, .8rem, 1rem);
    text-align: right;
    margin: 0 0 0 0;
  }

  .headerImage {
    width: 7rem;
    height: 7rem;
    min-width: 7rem;
  }

  .headerIntroduction {
    padding: 1rem;
  }
  
  .headerHomeImage {
    width: 10rem;
    height: 10rem;
  }

  .headerLinks {
    list-style: none;
    padding: 0 0;
    font-size: 1.5rem;
  }

  .headerLinks li {
    display: inline;
    padding: 0 1rem 0 0;
  }

  .component {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
    overflow: hidden;
    border-radius: 15px;
    background-color: rgba(247, 248, 251);
    padding: 2rem;
    margin: 2rem;
    flex-grow: 1;
  }


  .backToHome a{
    color: #2c2fe8;
    line-height: 4rem;
  }

  .break {
    flex-basis: 100%;
  }

  .recent {
    width: 100%;
  }


  @media only screen and (max-width: 1024px) {
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      padding: 0 0;
      flex-wrap: nowrap;
    }
    
    .component {
      width: clamp(320px, 90%, 100%);
      margin: 2rem 0rem;
    }
  }